# Importing with Pandas

Explanations at: http://3leafnodes.com/random-forest-regression-algorithms-preparing-data

## From a CSV file

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib notebook
plt.style.use('seaborn-white')

from plotly import tools
import plotly.plotly as py
import plotly.graph_objs as go

In [3]:
RY_df = pd.read_csv('data/RY.csv', index_col=0)

## With pandas_datareader

In [4]:
import pandas_datareader.data as web

from datetime import datetime
RY_dfpdr = web.DataReader("ry", 'yahoo',
                    datetime(1995, 10, 16),
                    datetime(2017, 8, 11))

In [5]:
RY_dfpdr.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5495 entries, 1995-10-16 to 2017-08-11
Data columns (total 6 columns):
Open         5495 non-null float64
High         5495 non-null float64
Low          5495 non-null float64
Close        5495 non-null float64
Adj Close    5495 non-null float64
Volume       5495 non-null int64
dtypes: float64(5), int64(1)
memory usage: 300.5 KB

# Exploring the Data

In [6]:
RY_df.head()

             Open     High      Low    Close  Adj Close  Volume
Date
16/10/95  5.75000  5.81250  5.75000  5.81250   2.498525   62000
17/10/95  5.81250  5.81250  5.81250  5.81250   2.498525   53200
18/10/95  5.78125  5.84375  5.78125  5.81250   2.498525   72000
19/10/95  5.84375  5.84375  5.81250  5.81250   2.498525    5200
20/10/95  5.71875  5.71875  5.65625  5.65625   2.431361   16400

In [7]:
RY_df.tail()

               Open       High        Low      Close  Adj Close   Volume
Date
07/08/17  74.709999  74.849998  74.410004  74.510002  74.510002   415100
08/08/17  74.379997  74.870003  74.379997  74.739998  74.739998   738300
09/08/17  74.339996  74.559998  74.000000  74.230003  74.230003   684000
10/08/17  73.910004  74.110001  72.750000  72.889999  72.889999  1434400
11/08/17  73.059998  73.410004  72.610001  72.889999  72.889999   754200

In [8]:
# suppressing scientific notation for Pandas
pd.set_option('display.float_format', lambda x: '%.5f' % x)

RY_df.describe()

            Open       High        Low      Close  Adj Close        Volume
count 5494.00000 5494.00000 5494.00000 5494.00000 5494.00000    5494.00000
mean    36.81800   37.12529   36.50281   36.83127   27.95704  524808.90062
std     21.24614   21.38186   21.09694   21.24431   20.60131  633388.75713
min      5.12500    5.28125    5.12500    5.18750    2.22987       0.00000
25%     15.36328   15.50766   15.25000   15.39297    8.03175   97200.00000
50%     39.25750   39.72750   38.92500   39.29000   26.19961  265700.00000
75%     55.75500   56.10750   55.21750   55.59750   44.76020  778425.00000
max     76.08000   76.08000   75.42000   75.90000   75.10000 9830200.00000

In [9]:
RY_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5494 entries, 16/10/95 to 11/08/17
Data columns (total 6 columns):
Open         5494 non-null float64
High         5494 non-null float64
Low          5494 non-null float64
Close        5494 non-null float64
Adj Close    5494 non-null float64
Volume       5494 non-null int64
dtypes: float64(5), int64(1)
memory usage: 300.5+ KB

In [10]:
RY_df.shape

(5494, 6)

In [11]:
RY_df.index

Index(['16/10/95', '17/10/95', '18/10/95', '19/10/95', '20/10/95', '23/10/95',
       '24/10/95', '25/10/95', '26/10/95', '27/10/95',
       ...
       '31/07/17', '01/08/17', '02/08/17', '03/08/17', '04/08/17', '07/08/17',
       '08/08/17', '09/08/17', '10/08/17', '11/08/17'],
      dtype='object', name='Date', length=5494)

# Preprocessing

In [12]:
def convert_index_to_datetimeindex(df):
    # converting the dates to DateTimeIndex
    index = df.index
    df.index = pd.to_datetime(index, dayfirst=True)

In [13]:
convert_index_to_datetimeindex(RY_df)

In [14]:
RY_df.index

DatetimeIndex(['1995-10-16', '1995-10-17', '1995-10-18', '1995-10-19',
               '1995-10-20', '1995-10-23', '1995-10-24', '1995-10-25',
               '1995-10-26', '1995-10-27',
               ...
               '2017-07-31', '2017-08-01', '2017-08-02', '2017-08-03',
               '2017-08-04', '2017-08-07', '2017-08-08', '2017-08-09',
               '2017-08-10', '2017-08-11'],
              dtype='datetime64[ns]', name='Date', length=5494, freq=None)

In [15]:
from datetime import timedelta, datetime, date

def convert_date_to_time_elapsed(df):
    dates = df.index

    elapsed = dates - dates[0]
    df['Days Elapsed'] = elapsed.days

convert_date_to_time_elapsed(RY_df)

In [16]:
RY_df.head()

              Open    High     Low   Close  Adj Close  Volume  Days Elapsed
Date
1995-10-16 5.75000 5.81250 5.75000 5.81250    2.49852   62000             0
1995-10-17 5.81250 5.81250 5.81250 5.81250    2.49852   53200             1
1995-10-18 5.78125 5.84375 5.78125 5.81250    2.49852   72000             2
1995-10-19 5.84375 5.84375 5.81250 5.81250    2.49852    5200             3
1995-10-20 5.71875 5.71875 5.65625 5.65625    2.43136   16400             4